# Dependensi
/vendor
composer.lock

# Environment & Logs
.env
.env.testing
*.log

# Testing
/.phpunit.result.cache
/tests/_output
/tests/_support/_generated

# IDE & OS
.vscode/
.idea/
.DS_Store
Thumbs.db